body
{
  font-family: "Avenir Next";
  margin:0px;
  overflow-x: hidden;
}



.all_container
{
 width:1200px;
 margin:0px auto;
}

.header_container
{
 width:100%;
 height:150px;
 background-color:#FCB44E
 float:left;
 border-bottom:1px solid #dcdcdc;
}

.header_container h1
{
  font-size:30px;
}

.header_container img
{
  padding:30px 10px ;
  float:left;
   border-right:1px solid #dcdcdc;
}

.header_etc
{
  float:right;
  width:100%;
  margin-left:-133px;
  height:150px;
}

.header_message
{
margin-left:133px;
 height:100px;
 width:100%;
}

.header_message p
{
  float:left;
  color:#333;
  margin:44px 30px;
  font-size:12px;
}

.header_message a
{
  float:right;
 display:block;
 margin-top:17px;
 margin-bottom:17px;
 text-decoration:none;
}

.header_message a :visited
{
  text-decoration:none;
}

.header_btn
{
  width:55%;
  float:right;
  margin-right:133px;
}

.btn
{
  display:inline-block;
  color:white;
  padding:10px 30px;
  border-radius:5px;
}

.btn a :visited
{
  color:white;
}

.trials
{
  box-shadow:0px 5px ;
  background-color:#58ACFA;
  margin-right:5px;
  box-shadow:0 5px #2E9AFE;
}

.documensts
{
  background-color:#DF013A;
  margin-right:30px;
  box-shadow:0 5px #B40431;
}

.header_list
{
 width:100%;
 height:50px;
 border-top:1px solid #dcdcdc;
 float:left;
 padding:10px 0px;
 margin-left:133px;
}

.header_list a
{
  padding-left:30px;
  font-weight:bold;
  float:left;
  color:black;
  text-decoration:none;
}

.header a :visited
{
  color:black;
}

.clear
{
  float:clear;
}

.member_list_container
{
  width:100%;
  margin:30px auto;
}

.member_img
{
  width:30%;
  margin:15px;
}

.wadachan
{
  border:2px solid rgb(72,185,40);
}

.mio
{
  border:2px solid rgb(218,150,34);
}

.rokuji
{
  border:2px solid rgb(51,93,197);
}

.radio_container
{
  width:100%;
}

.all_member
{
  width:1160px;
  margin:15px;
 border:2px solid rgb(210,75,293);
}

.pick_up_event
{
  width:100%;
  margin:30px auto;
}

.pick_up_event h3
{
  font-size:2.8rem;
}

.pick_up
{
  width:50%;
  float:left;
}

.event
{
  width:50%;
  float:right;
}

.event_table a:visited
{
  color:blue;
}

.event_table
{
  border-top:1px solid #dcdcdc;
  width:100%;
}

.event_table_element_left
{
  color:white;
  background-color:#63AC22;
  width:10%;
  text-align: center;
  float:left;
  border-bottom:1px solid #dcdcdc;
  padding:10px;
  font-size: 16px;
  line-height:1.5;
  display:inline-block;
  box-sizing: border-box;
}

.event_table_element_right
{
 width:90%;
 display:inline-block;
 float:left;
 border-bottom:1px solid #dcdcdc;
 padding:10px;
 box-sizing:border-box;
}

.even
{
  background-color:#EEEEEE;
}

.table_under
{
  margin-top: 10px;
  color:black;
  font-weight:normal;
  font-size:1.3em;
}

.table_under :visited
{
  color:black;
}
